@font-face {
    font-family: 'Desire';
    src: url('Desire-Pro.woff2') format('woff2'),
        url('Desire-Pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

